@import url("https://netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css");

i {
  font-family: fontawesome !important;
  font-size: 15px;
}

i.rating-icon {
  color: rgb(212, 175, 55);
}

i.loading-icon {
  font-size: 40px;
  position: relative;
  top: 50%;
  left: 50%;
}

i.loading-modal {
  color: #444 !important;
}

* {
  font-family: "Montserrat", sans-serif !important;
  color: #fefefe;
}

body {
  background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.92),
      rgba(37, 37, 37, 0.92)
    ),
    url("../img/bg-img.jpg") !important;
  height: 100vh;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}

.navbar {
  height: 10vh;
  opacity: 1;
}

a.navbar-brand {
  font-size: 1.8em;
  font-weight: 600;
  background: -webkit-linear-gradient(rgb(255, 255, 255), rgb(212, 175, 55));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: "Cinzel", sans-serif !important;
}

a.navbar-brand:hover {
  color: #fefefe;
}

.navbar .container {
  margin-left: 20px;
}

.main-body {
  height: 90vh;
  text-align: center;
}

.jumbotron h4 {
  margin-bottom: 40px;
  background: -webkit-linear-gradient(#fff, #999);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: "Nanum Myeongjo", serif !important;
  font-weight: 900 !important;
  letter-spacing: 5px;
}

.searchbar {
  padding-top: 6vh;
  text-align: center;
}

#searchText {
  width: 100%;
  padding: 20px 10px 20px 10px;
  background-color: rgba(255, 255, 255, 0.1);
  color: #fefefe;
}

.segment-header {
  margin-top: 10vh;
  margin-bottom: 5vh;
  border-bottom: 2px solid rgba(254, 254, 254, 0.3);
  background: -webkit-linear-gradient(#eee, #555);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#moviesNowPlaying {
  margin-bottom: 50px;
  text-align: center;
}

.movie-row {
  margin-bottom: 6vh;
  padding: 0;
  transition: transform 0.3s ease-in-out;
}

.movie-row:hover {
  transform: scale(1.06);
  cursor: pointer;
}

.movie-image {
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.7);
  border-radius: 10px;
  max-height: 300px;
  max-width: 200px;
}

h6.card-text {
  font-weight: 700;
}

h4.card-title {
  font-weight: 700;
  color: rgb(212, 175, 55);
  text-align: left;
  font-family: "Cinzel", sans-serif !important;
}

h3.card-title {
  font-weight: 700;
  color: rgb(150, 115, 0);
  text-align: left;
  font-family: "Cinzel", sans-serif !important;
}

.card-text {
  text-align: left;
}

.movie-card {
  width: 200px;
  height: 300px;
  text-align: left;
  padding-left: 0 !important;
}

@media only screen and(max-width:990px) {
  .movie-card {
    text-align: center;
  }
}

.movie-card-body {
  padding: 20px 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.jumbotron {
  background-color: rgba(0, 0, 0, 0.5) !important;
  box-shadow: 0 0 10px rgba(0, 0, 0, 1);
  margin-top: 30px;
}

.moviesResults {
  margin-bottom: 10vh;
}

.rating {
  float: right;
  font-weight: 700 !important;
  color: rgb(212, 175, 55);
  font-style: normal;
  font-family: "Cinzel", sans-serif !important;
}

.last-movie-row {
  font-style: italic;
  font-family: "Cinzel", sans-serif !important;
}

.genre-class {
  float: right;
  font-size: 15px;
  font-weight: 400;
  font-family: "Cinzel", sans-serif !important;
}

.movie-overview {
  margin-top: 20px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 7;
  -webkit-box-orient: vertical;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.7);
}

.modal-content {
  background: linear-gradient(
    to right,
    rgba(233, 228, 240, 0.83),
    rgba(228, 227, 230, 0.83)
  ) !important;
  background-image: radial-gradient(
    circle farthest-corner at 18.7% 37.8%,
    rgba(250, 250, 250, 1) 0%,
    rgba(225, 234, 238, 1) 90%
  );
  color: #222222 !important;
  border-radius: 15px !important;
  position: fixed;
  display: flex;
  align-items: center;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80vw !important;
  height: 70vh;
  overflow: auto;
}

.close {
  color: #444 !important;
  float: right;
  font-size: 32px !important;
  font-weight: bold;
  position: absolute;
  right: 0;
  margin-right: 20px;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.button {
  text-decoration: none;
  font-size: 0.875rem;
  font-weight: 300;
  text-transform: uppercase;
  display: inline-block;
  border-radius: 1.5rem;
  background-color: #fff;
}

.review {
  font-size: 12px;
  font-style: italic;
}

.inner-heading {
  color: black;
  border-bottom: 2px solid rgba(0, 0, 0, 0.3);
  padding: 0 0 5px 8px;
  margin-top: 10px;
  font-style: italic;
}
